* {
   box-sizing: border-box;
   margin: 0;
}

body a{
   text-decoration: none;
}


.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 5%;
   background: rgb(255, 255, 235);
   padding-top: 30px;
   padding-bottom: 60px;
}
.header {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   /* margin-top: 30px; */
}
.header__left-block {
   display: flex;
   align-items: center;
}
.header__left-block-img {
   width: 180px;
   margin-right: 20px;

}
.header__left-block-img img {
   display: block;
   max-width: 100%;
   border-radius: 50%;
}
.header__left-block-text h3 {
   font-size: 25px;
}
/* =====   ====== */
.tel-top {
   display: block;
   text-decoration: none;
   text-align: center;
   color:#0000FF;
   margin-bottom: 25px;
   font-weight: 600;
   transition: .8s;
}
.french-telephone {
   margin-right: 8px;
   opacity: 0;
}
.tel-top:hover {
   color:#EE8208;
}
.tel-top:hover .french-telephone {
   color:#EE8208;
   opacity: 1;
}

/* трубка телефона */

/* =========================== */
.header__right-block-i {
   display: flex;
   list-style: none;
   padding: 0;
}
.header__right-block-i a {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   background:#eae9ec;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   padding: 25px;
   margin-left: 20px;

}

.header__right-block-i i {
   font-size: 22px;
   color:#0000FF;

   font-weight: 600;

}
.header__right-block-i a:hover {
   /* background: #fffbca; */
   background: #e2e5fa73;

}
.header__right-block-i a:hover .fa-vk {
   color:#4A76A8;
}
.header__right-block-i a:hover .fa-whatsapp {
   color:#43d854;
}
.header__right-block-i a:hover .fa-odnoklassniki {
   color:#EE8208;
}
.header__right-block-i a:hover .fa-telegram-plane {
   color: #27A3E3;
}

/* ==================== */

.develop {
   margin: 100px 0px;
}
.develop h2 {
   font-size: 30px;
   margin-bottom: 16px;
}
.develop p {
   font-size: 18px;
   margin-bottom: 8px;
}
.btn {
   display: inline-block;
   background: #4141FF;
   color: #e6e8f7;
   border-radius: 4px;
   padding: 10px 30px;
   margin: 30px 0;
}
.btn:hover {
   background: #1b1bff;
}
/* ======================== */

.works {
   margin: 0 auto;
   text-align: center;
}
.works h2 {
   font-size: 36px;
   margin-bottom: 16px;
}

.works p {
   font-size: 19px;
   margin-bottom: 8px;
   color: #000000;
   transition: 1s;
}
/* .works__img a:hover p {
   color:#EE8208;
} */
/* ======= */
.works__img {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 50px;
}
.works__img-itam {
   max-width: 250px;
   margin: 0 10px 30px 20px;
   /* border: 1px solid #0000FF; */
   overflow: hidden;
}
.works__img-itam img {
   max-width: 100%;
   transition: 1s;

}
.works__img-itam a:hover p {
   color:#EE8208;
}
.works__img-itam a:hover img {
   transform: scale(1.1); 

}


/*   =======   max-width: 768px   =======   */

@media (max-width: 768px) {
   .header__left-block-img {
      max-width: 150px;
   }
   .header__right-block {
      margin-top: 20px;
   }
}